extends ../layout

block body
 
 h1 Welcom to Crud Project
  .row
    .col-6.m-4
      a(href="/crud/login").btn.btn-primary Login page
    .col-6.m-4
      a(href="/crud/signup").btn.btn-primary Ragister