extends ../layout

block header
    .container-fluid
        .row
            .col-12
                include ./includes/navbar.jade
block body
    .container
        .row
            .col-12
                h1 Welcome to user Dashboard